<div data-hook="admin_supplier_form_fields">

  <div class="left eight columns alpha" data-hook="admin_supplier_form_left">
    <div data-hook="admin_supplier_form_name">
      <%= f.field_container :name do %>
        <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', :class => 'required')) %>
        <%= f.text_field :name, :class => 'fullwidth title' %>
        <%= f.error_message_on :name %>
      <% end %>
    </div>
  </div>

  <div data-hook="admin_supplier_form_user">
    <%= f.field_container :user do %>
      <%= f.label :user_id, Spree.t(:user) %>
      <%= f.collection_select(:user_id, @users, :id, :email, { :include_blank => false }, { :class => 'select2' }) %>
      <%= f.error_message_on :user %>
    <% end %>
  </div>

  <div class="clear"></div>
</div>